<!--The content below is only a placeholder and can be replaced.-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <layout-header></layout-header>
      <layout-sidebar></layout-sidebar>
    </div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<layout-footer></layout-footer>
</body>

